.px-notification {
  --px-notification-width: 330px;
  --px-notification-padding: 14px 26px 14px 13px;
  --px-notification-radius: 8px;
  --px-notification-shadow: var(--px-box-shadow-light);
  --px-notification-border-color: var(--px-border-color-lighter);
  --px-notification-icon-size: 24px;
  --px-notification-close-font-size: var(--px-message-close-size, 16px);
  --px-notification-content-font-size: var(--px-font-size-base);
  --px-notification-content-color: var(--px-text-color-regular);
  --px-notification-title-font-size: 16px;
  --px-notification-title-color: var(--px-text-color-primary);
  --px-notification-close-color: var(--px-text-color-secondary);
  --px-notification-close-hover-color: var(--px-text-color-regular)
}
.px-notification {
  display: flex;
  width: var(--px-notification-width);
  padding: var(--px-notification-padding);
  border-radius: var(--px-notification-radius);
  box-sizing: border-box;
  border: 1px solid var(--px-notification-border-color);
  position: fixed;
  background-color: var(--px-bg-color-overlay);
  box-shadow: var(--px-notification-shadow);
  transition: opacity var(--px-transition-duration),transform var(--px-transition-duration),right var(--px-transition-duration),top .4s,bottom var(--px-transition-duration);
  overflow-wrap: anywhere;
  overflow: hidden;
  z-index: 9999;
  &.right {
    right: 10px;
  }
  &.left {
    left: 10px;
  }
  
  .px-notification__text {
    margin: 0 10px;
  }
  .px-notification__icon {
    height: var(--px-notification-icon-size);
    width: var(--px-notification-icon-size);
    font-size: var(--px-notification-icon-size);
    color: var(--px-notification-icon-color);
  }

  .px-notification__title {
    font-weight: 700;
    font-size: var(--px-notification-title-font-size);
    line-height: var(--px-notification-icon-size);
    color: var(--px-notification-title-color);
    margin: 0
  }
  .px-notification__content {
    font-size: var(--px-notification-content-font-size);
    line-height: 24px;
    margin: 6px 0 0;
    color: var(--px-notification-content-color);
    text-align: justify
  }
  .px-notification__close {
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    color: var(--px-notification-close-color);
    font-size: var(--px-notification-close-font-size)
  }
}
@each $val in info,success,warning,danger { 
  .px-notification--$(val) {
    --px-notification-icon-color: var(--px-color-$(val));
    color: var(--el-notification-icon-color);
  }
}
.px-notification--error {
  --px-notification-icon-color: var(--px-color-danger);
  color: var(--el-notification-icon-color);
}

.px-notification-fade-enter-from {
  &.right {
    right: 0;
    transform: translate(100%);
  }
  &.left {
    left: 0;
    transform: translate(-100%);
  }
}
.px-notification-fade-leave-to {
  opacity: 0;
}