/**
 * zpix - A pixel font for retro UI
 * Source: https://github.com/SolidZORO/zpix-pixel-font
 *
 * Place zpix.ttf file in this directory (packages/theme/fonts/)
 */

@font-face {
  font-family: "zpix";
  src: url("./zpix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Fallback for browsers that don't support custom fonts */
@supports not (font-variation-settings: normal) {
  .px-pixel-font-fallback {
    font-family: "Courier New", "Consolas", monospace;
  }
}
