/**
 * zpix - A pixel font for retro UI
 * Source: https://github.com/SolidZORO/zpix-pixel-font
 */

@font-face {
  font-family: "zpix";
  src: url("./zpix.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Fallback for browsers that don't support custom fonts */
@supports not (font-variation-settings: normal) {
  .px-pixel-font-fallback {
    font-family: "Courier New", "Consolas", monospace;
  }
}
