.px-button-group {
  --px-button-group-border-color: var(--px-border-color-lighter);
}
.px-button {
  --px-button-font-weight: var(--px-font-weight-primary);
  --px-button-border-color: var(--px-border-color);
  --px-button-bg-color: var(--px-fill-color-blank);
  --px-button-text-color: var(--px-text-color-regular);
  --px-button-disabled-text-color: var(--px-disabled-text-color);
  --px-button-disabled-bg-color: var(--px-fill-color-blank);
  --px-button-disabled-border-color: var(--px-border-color-light);
  --px-button-hover-text-color: var(--px-color-primary);
  --px-button-hover-bg-color: var(--px-color-primary-light-9);
  --px-button-hover-border-color: var(--px-color-primary-light-7);
  --px-button-active-text-color: var(--px-button-hover-text-color);
  --px-button-active-border-color: var(--px-color-primary);
  --px-button-active-bg-color: var(--px-button-hover-bg-color);
  --px-button-outline-color: var(--px-color-primary-light-5);
  --px-button-active-color: var(--px-text-color-primary);
}

.px-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--px-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: none; /* No smooth transitions for pixel aesthetic */
  font-weight: var(--px-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--px-button-bg-color);
  border: var(--px-border);
  border-color: var(--px-button-border-color);
  padding: 8px 15px;
  font-size: var(--px-font-size-base);
  border-radius: 0; /* No rounded corners */
  position: relative;

  /* Pixel-style shadow */
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);

  & + & {
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    color: var(--px-button-hover-text-color);
    border-color: var(--px-button-hover-border-color);
    background-color: var(--px-button-hover-bg-color);
    outline: none;
    /* Slight shadow lift on hover */
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.3);
    transform: translate(-1px, -1px);
  }
  &:active {
    color: var(--px-button-active-text-color);
    border-color: var(--px-button-active-border-color);
    background-color: var(--px-button-active-bg-color);
    outline: none;
    /* Pressed effect */
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
    transform: translate(1px, 1px);
  }
  /*plain*/
  &.is-plain {
    --px-button-hover-text-color: var(--px-color-primary);
    --px-button-hover-bg-color: var(--px-fill-color-blank);
    --px-button-hover-border-color: var(--px-color-primary);
  }
  /*round - keep pixel-style (no rounded corners) */
  &.is-round {
    border-radius: 0; /* Pixel aesthetic: no rounded corners */
  }
  /*circle - square for pixel style */
  &.is-circle {
    border-radius: 0; /* Pixel aesthetic: square instead of circle */
    padding: 8px;
    width: 32px;
    height: 32px;
  }
  /*disabled*/
  &.is-loading,
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--px-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--px-button-disabled-bg-color);
    border-color: var(--px-button-disabled-border-color);
    box-shadow: none;
    transform: none;
    opacity: 0.6;
  }
  [class*='px-icon'] {
    width: 1em;
    height: 1em;
  }
}
@each $val in primary, success, warning, info, danger {
  .px-button--$(val) {
    --px-button-text-color: var(--px-color-white);
    --px-button-bg-color: var(--px-color-$(val));
    --px-button-border-color: var(--px-color-$(val));
    --px-button-outline-color: var(--px-color-$(val)-light-5);
    --px-button-active-color: var(--px-color-$(val)-dark-2);
    --px-button-hover-text-color: var(--px-color-white);
    --px-button-hover-bg-color: var(--px-color-$(val)-light-3);
    --px-button-hover-border-color: var(--px-color-$(val)-light-3);
    --px-button-active-bg-color: var(--px-color-$(val)-dark-2);
    --px-button-active-border-color: var(--px-color-$(val)-dark-2);
    --px-button-disabled-text-color: var(--px-color-white);
    --px-button-disabled-bg-color: var(--px-color-$(val)-light-5);
    --px-button-disabled-border-color: var(--px-color-$(val)-light-5);
  }
  .px-button--$(val).is-plain {
    --px-button-text-color: var(--px-color-$(val));
    --px-button-bg-color: var(--px-color-$(val)-light-9);
    --px-button-border-color: var(--px-color-$(val)-light-5);
    --px-button-hover-text-color: var(--px-color-white);
    --px-button-hover-bg-color: var(--px-color-$(val));
    --px-button-hover-border-color: var(--px-color-$(val));
    --px-button-active-text-color: var(--px-color-white);

    --px-button-disabled-text-color: var(--px-color-$(val)-light-5);
    --px-button-disabled-bg-color: var(--px-color-$(val)-light-9);
    --px-button-disabled-border-color: var(--px-color-$(val)-light-8);
  }
}
.px-button--large {
  --px-button-size: 40px;
  height: var(--px-button-size);
  padding: 12px 19px;
  font-size: var(--px-font-size-large);
  border-radius: 0; /* Pixel aesthetic */
  /*circle - square for pixel style*/
  &.is-circle {
    border-radius: 0;
    padding: 12px;
    width: 40px;
  }
}
.px-button--small {
  --px-button-size: 24px;
  height: var(--px-button-size);
  padding: 5px 11px;
  font-size: var(--px-font-size-small);
  border-radius: 0; /* Pixel aesthetic */
  /*circle - square for pixel style*/
  &.is-circle {
    border-radius: 0;
    padding: 5px;
    width: 24px;
  }
  [class*='px-icon'] {
    width: 12px;
    height: 12px;
  }
}

.px-button-group {
  display: inline-block;
  vertical-align: middle;

  &::after {
    clear: both;
  }
  & > :deep(.px-button) {
    float: left;
    position: relative;
    margin-left: 0;
    border-radius: 0; /* Always square for pixel aesthetic */
    box-shadow: none; /* Remove individual shadows in group */

    &:first-child {
      border-right-color: var(--px-button-group-border-color);
    }
    &:last-child {
      border-left-color: var(--px-button-group-border-color);
    }
    &:not(:first-child):not(:last-child) {
      border-left-color: var(--px-button-group-border-color);
      border-right-color: var(--px-button-group-border-color);
    }
    &:not(:last-child) {
      margin-right: -1px;
    }
    /* Hover effect for button groups */
    &:hover {
      z-index: 1;
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.3);
    }
    &:active {
      box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
    }
  }
  /* Group-wide pixel shadow */
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
}
