.px-collapse[data-v-51f3c344] {
  --px-collapse-border-color: var(--px-border-color-light);
  --px-collapse-header-height: 48px;
  --px-collapse-header-bg-color: var(--px-fill-color-blank);
  --px-collapse-header-text-color: var(--px-text-color-primary);
  --px-collapse-header-font-size: 13px;
  --px-collapse-content-bg-color: var(--px-fill-color-blank);
  --px-collapse-content-font-size: 13px;
  --px-collapse-content-text-color: var(--px-text-color-primary);
  --px-collapse-disabled-text-color: var(--px-disabled-text-color);
  --px-collapse-disabled-border-color: var(--px-border-color-lighter);
  border-top: 1px solid var(--px-collapse-border-color);
  border-bottom: 1px solid var(--px-collapse-border-color);
}
.px-collapse-item__header[data-v-51f3c344] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--px-collapse-header-height);
  line-height: var(--px-collapse-header-height);
  background-color: var(--px-collapse-header-bg-color);
  color: var(--px-collapse-header-text-color);
  cursor: pointer;
  font-size: var(--px-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--px-transition-duration);
  outline: none;
  border-bottom: 1px solid var(--px-collapse-border-color);
}
.px-collapse-item__header.is-disabled[data-v-51f3c344] {
  color: var(--px-collapse-disabled-text-color);
  cursor: not-allowed;
  background-image: none;
}
.px-collapse-item__header.is-active[data-v-51f3c344] {
  border-bottom-color: transparent;
}
.px-collapse-item__header.is-active .header-angle[data-v-51f3c344] {
  transform: rotate(90deg);
}
.px-collapse-item__header .header-angle[data-v-51f3c344] {
  transition: transform var(--px-transition-duration);
}
.px-collapse-item__content[data-v-51f3c344] {
  will-change: height;
  background-color: var(--px-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--px-collapse-content-font-size);
  color: var(--px-collapse-content-text-color);
  border-bottom: 1px solid var(--px-collapse-border-color);
  padding-bottom: 25px;
}
.slide-enter-active[data-v-51f3c344],
.slide-leave-active[data-v-51f3c344] {
  transition: height var(--px-transition-duration) ease-in-out;
}
.px-collapse[data-v-0542cc04] {
  --px-collapse-border-color: var(--px-border-color-light);
  --px-collapse-header-height: 48px;
  --px-collapse-header-bg-color: var(--px-fill-color-blank);
  --px-collapse-header-text-color: var(--px-text-color-primary);
  --px-collapse-header-font-size: 13px;
  --px-collapse-content-bg-color: var(--px-fill-color-blank);
  --px-collapse-content-font-size: 13px;
  --px-collapse-content-text-color: var(--px-text-color-primary);
  --px-collapse-disabled-text-color: var(--px-disabled-text-color);
  --px-collapse-disabled-border-color: var(--px-border-color-lighter);
  border-top: 1px solid var(--px-collapse-border-color);
  border-bottom: 1px solid var(--px-collapse-border-color);
}
.px-collapse-item__header[data-v-0542cc04] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--px-collapse-header-height);
  line-height: var(--px-collapse-header-height);
  background-color: var(--px-collapse-header-bg-color);
  color: var(--px-collapse-header-text-color);
  cursor: pointer;
  font-size: var(--px-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--px-transition-duration);
  outline: none;
  border-bottom: 1px solid var(--px-collapse-border-color);
}
.px-collapse-item__header.is-disabled[data-v-0542cc04] {
  color: var(--px-collapse-disabled-text-color);
  cursor: not-allowed;
  background-image: none;
}
.px-collapse-item__header.is-active[data-v-0542cc04] {
  border-bottom-color: transparent;
}
.px-collapse-item__header.is-active .header-angle[data-v-0542cc04] {
  transform: rotate(90deg);
}
.px-collapse-item__header .header-angle[data-v-0542cc04] {
  transition: transform var(--px-transition-duration);
}
.px-collapse-item__content[data-v-0542cc04] {
  will-change: height;
  background-color: var(--px-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--px-collapse-content-font-size);
  color: var(--px-collapse-content-text-color);
  border-bottom: 1px solid var(--px-collapse-border-color);
  padding-bottom: 25px;
}
.slide-enter-active[data-v-0542cc04],
.slide-leave-active[data-v-0542cc04] {
  transition: height var(--px-transition-duration) ease-in-out;
}
