.px-alert {
  --px-alert-padding: 8px 16px;
  --px-alert-border-radius-base: var(--px-border-radius-base);
  --px-alert-bg-color: var(--px-color-white);
  --px-alert-title-font-size: 14px;
  --px-alert-title-font-size-with-desc: 16px;
  --px-alert-desc-font-size: 14px;
  --px-alert-text-color: var(--px-text-color-primary);
  --px-alert-top-margin: 20px;
  --px-alert-icon-size: 16px;
  --px-alert-icon-margin: 8px;
  --px-alert-big-icon-size: 28px;
  --px-alert-big-icon-margin: 12px;
}
.px-alert {
  padding: var(--px-alert-padding);
  margin: 0;
  box-sizing: border-box;
  border-radius: var(--px-alert-border-radius-base);
  position: relative;
  background-color: var(--px-alert-bg-color);
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity var(--px-transition-duration);
  margin-top: var(--px-alert-top-margin);
  .px-alert__icon {
    color: var(--px-alert-text-color);
    font-size: var(--px-alert-icon-size);
    width: var(--px-alert-icon-size);
    margin-right: var(--px-alert-icon-margin);
    &.big-icon{
      font-size: var(--px-alert-big-icon-size);
      width: var(--px-alert-big-icon-size);
      margin-right: var(--px-alert-big-icon-margin);
    }
  }
  .px-alert__content {
    color:  var(--px-alert-text-color);
    vertical-align: text-top;
    .px-alert__title{
      font-size: var(--px-alert-title-font-size);
      line-height: 24px;
      &.with-desc {
        font-size: var(--px-alert-title-font-size-with-desc);
      }
    } 
    .px-alert__description{
      font-size: var(--px-alert-desc-font-size);
      margin: 0;
    }

    .px-alert__close {
      font-size: var(--px-alert-close-font-size);
      opacity: 1;
      position: absolute;
      top: 12px;
      right: 15px;
      cursor: pointer;
      :deep(.px-icon) {
        vertical-align: top;
      }
    }
    &.px-alert__light {
      .px-alert__close {
        color: var(--px-text-color-placeholder);
      }
    }
    &.px-alert__dark {
      .px-alert__close {
        color: var(--px-color-white);
      }
    }
  }


  &.text-center {
    justify-content: center;
    span,p {
      text-align: center;
    }
  }
}

.px-alert-fade-enter-from,
.px-alert-fade-leave-to {
  opacity: 0;
}

@each $val in success,warning,info,danger { 
  .px-alert__$(val).px-alert__light {
    --px-alert-text-color: var(--px-color-$(val));
    --px-alert-bg-color: var(--px-color-$(val)-light-9);
  }
  .px-alert__$(val).px-alert__dark {
    --px-alert-text-color: var(--px-color-white);
    --px-alert-bg-color: var(--px-color-$(val));
  }
}