.px-icon {
  --px-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--px-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .px-icon--$(val) {
    --px-icon-color: var(--px-color-$(val));
  }
}