.px-select {
  --px-select-item-hover-bg-color: var(--px-fill-color-light);
  --px-select-item-font-size: var(--px-font-size-base);
  --px-select-item-font-color: var(--px-text-color-regular);
  --px-select-item-selected-font-color: var(--px-color-primary);
  --px-select-item-disabled-font-color: var(--px-text-color-placeholder);
  --px-select-input-focus-border-color: var(--px-color-primary);
}

.px-select {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  :deep(.px-tooltip__popper) {
    padding: 0;
  }

  :deep(.px-input) {
    .header-angle {
      transition: transform var(--px-transition-duration);
      &.is-active {
        transform: rotate(180deg);
      }
    }
  }

  .px-select__nodata,
  .px-select__loading {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: var(--px-text-color-secondary);
    font-size: var(--px-select-font-size);
  }
  .px-select__menu {
    list-style: none;
    margin: 6px 0;
    padding: 0;
    box-sizing: border-box;
  }
  .px-select__menu-item {
    margin: 0;
    font-size: var(--px-select-item-font-size);
    padding: 0 32px 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--px-select-item-font-color);
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: var(--px-select-item-hover-bg-color);
    }
    &.is-selected {
      color: var(--px-select-item-selected-font-color);
      font-weight: 700;
    }
    &.is-highlighted {
      background-color: var(--px-select-item-hover-bg-color);
    }
    &.is-disabled {
      color: var(--px-select-item-disabled-font-color);
      cursor: not-allowed;
      &:hover {
        background-color: transparent;
      }
    }
  }

  :deep(.px-input__inner) {
    cursor: pointer;
  }
}
