.px-dropdown .px-dropdown__menu {
  --px-dropdown-menuItem-hover-fill: var(--px-color-primary-light-9);
  --px-dropdown-menuItem-hover-color: var(--px-color-primary);
  --px-dropdown-menuItem-disabled-color: var(--px-border-color-lighter);
  --px-dropdown-menuItem-divided-color: var(--px-border-color-lighter);
}
.px-dropdown {
  display: inline-block;
  .px-tooltip {
    --px-popover-padding: 5px 0;
  }
  &.is-disabled>*{
    color: var(--px-text-color-placeholder) !important;
    cursor: not-allowed !important;
  }
}
.px-dropdown__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .px-dropdown__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    list-style: none;
    line-height: 22px;
    padding: 5px 16px;
    margin: 0;
    font-size: var(--px-font-size-base);
    color: var(--px-text-color-regular);
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: var(--px-dropdown-menuItem-hover-fill);
      color: var(--px-dropdown-menuItem-hover-color);
    }
    &.is-disabled {
      color: var(--px-dropdown-menuItem-disabled-color);
      cursor: not-allowed;
      background-image: none;
    }
  }
  
  .px-dropdown__item--large {
    padding: 7px 20px;
    line-height: 22px;
    font-size: 14px;
  }
  .px-dropdown__item--small {
    padding: 2px 12px;
    line-height: 20px;
    font-size: 12px;
  }
  .divided-placeholder {
    margin: 6px 0;
    border-top: 1px solid var(--px-dropdown-menuItem-divided-color);
  }
}
