.px-popconfirm {
  .px-popconfirm__main {
    display: flex;
    align-items: center;
    i {
      margin-right: 5px;
    }
  }
  .px-popconfirm__action {
    text-align: right;
    margin-top: 8px;
  }
}